@page
@model final_project.Pages.CartModel
@{
    ViewData["Title"] = "My Cart";
}

<body class="body-cart">
    <div class="cont-main">
        <div class="default-title">
            <h1 id="default-title-text">My Cart</h1>
        </div>

        @if (Model.cart == null || Model.cart.Count == 0)
        {
            <div>
                <div class="info-title">
                    <p class="info-title-text"> @Model.emptyCart </p>
                </div>

                @* BROWSE BUTTONS *@
                <p class="browse-text">
                    <a asp-page="/VinylsCatalog" class="btn btn-default" id="btn-browse"> Browse Vinyls >> </a>&nbsp;&nbsp;
                    <a asp-page="/CassettesCatalog" class="btn btn-default" id="btn-browse"> Browse Cassettes >> </a>&nbsp;&nbsp;
                    <a asp-page="/CDsCatalog" class="btn btn-default" id="btn-browse"> Browse CDs >> </a>
                </p>
            </div>
        }
        else
        {

            <table class="table table-striped" id="table-cart">

                <thead>
                    <tr class="row-cart" id="row-cart-main">
                        <th scope="col" class="text-center" style="width:4%" id="col-cart-label"></th>
                        <th scope="col" class="text-center col-1" id="col-cart-label"> </th>
                        <th scope="col" class="text-center col-3" id="col-cart-label"> Product </th>
                        <th scope="col" class="text-center col-3" id="col-cart-label"> Artist </th>
                        <th scope="col" class="text-center col-1" id="col-cart-label"> Type </th>
                        <th scope="col" class="text-center col-1" id="col-cart-label"> Price </th>
                        <th scope="col" class="text-center col-1" id="col-cart-label"> Quantity </th>
                        <th scope="col" class="text-center col-2" id="col-cart-label"> Subtotal </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var cartItem in Model.cart)
                    {
                        <tr class="row-cart" id="row-cart-sub">

                            @* COLUMN - REMOVE *@
                            <td class="text-center align-middle" id="col-cart-item">
                                <p id="col-cart-remove">
                                    <a asp-page="/Cart" asp-page-handler="Remove" asp-route-id=@cartItem.ProductID id="removeLink">X</a>
                                </p>
                            </td>

                            @* COLUMN - PRODUCT ART *@
                            <td class="text-center align-middle" id="col-cart-item"><p id="col-productArt"><img src=@cartItem.CoverArt alt="cover art" id="productArt" /></p></td>

                            @* COLUMN - PRODUCT LINK *@
                            <td class="text-center align-middle" id="col-cart-item">
                                <p id="col-productLink">
                                    <a asp-page="/ViewProduct" asp-route-id=@cartItem.ProductID id="productLink"> @cartItem.Album </a>
                                </p>
                            </td>

                            @* COLUMN - PRODUCT ARTIST *@
                            <td class="text-center align-middle" id="col-cart-item"><p id="col-productArtist"> @cartItem.Artist </p></td>

                            @* COLUMN - PRODUCT TYPE *@
                            <td class="text-center align-middle" id="col-cart-item"><p id="col-productType"> @cartItem.Type </p></td>

                            @* COLUMN - PRODUCT PRICE *@
                            <td class="text-center align-middle" id="col-cart-item"><p id="col-productPrice">  @cartItem.Price.ToString("#,##0.00") </p></td>

                            @* COLUMN - ARTIST *@
                            <td class="text-center align-middle" id="col-cart-item">
                                <p id="col-productQuantity-text">
                                    <a asp-page-handler="Decrease" asp-route-id=@cartItem.ProductID id="minusButton">–</a>
                                    <span>
                                        <input type="number" name="quantity" value=@cartItem.Quantity min="0" class="text-center" id="quantity-input" readonly />
                                    </span>
                                    <a asp-page-handler="Increase" asp-route-id=@cartItem.ProductID id="addButton">+</a>
                                </p>
                            </td>

                            <td class="text-center align-middle" id="col-cart-item"><p id="subtotal"> @cartItem.Subtotal.ToString("#,##0.00") </p></td>
                        </tr>

                        Model.total += cartItem.Subtotal;

                    }
                    <tr class="bg-dark">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center align-middle text-white" id="test"></td>
                        <td class="text-center align-middle text-white"> Total: </td>
                        <td class="text-center align-middle text-white fw-bold" id="total"> Php @Model.total.ToString("#,##0.00") </td>
                    </tr>

                </tbody>
            </table>

            @*
        <script>

        var quantity = document.getElementsByTagName('input');

        for (var i = 0; i < quantity.length; i++) {

        quantity[i].addEventListener('input', function(e)
        {
        var parent = e.target.parentNode;
        var price = parent.previousElementSibling.innerHTML;
        var subtotal = parent.nextElementSibling.childNodes[1];
        subtotal.innerHTML = (e.target.value * price).toFixed(2);

        });
        }

        </script>
        *@

            @* CHECKOUT BUTTON *@
            <p class="checkout-text">
                <a class="btn btn-default" id="btn-checkout" asp-page="/Checkout" asp-route-id=@Model.cart>Checkout >></a>
            </p>
        }
    </div>
</body>