@page
@model final_project.Pages.Favorites
@{
    ViewData["Title"] = "My Favorites";
}

<body>
    <div class="default-title">
        <h1 id="default-title-text">My Favorites</h1>
    </div>

    @if (Model.favorites == null || Model.favorites.Count == 0)
    {
        <div>
            <div class="info-title">
                <p class="info-title-text"> @Model.emptyFavorites </p>
            </div>

            @* BROWSE BUTTONS *@
            <p class="browse-text">
                <a asp-page="/VinylsCatalog" class="btn btn-default" id="btn-browse"> Browse Vinyls >> </a>&nbsp;&nbsp;
                <a asp-page="/CassettesCatalog" class="btn btn-default" id="btn-browse"> Browse Cassettes >> </a>&nbsp;&nbsp;
                <a asp-page="/CDsCatalog" class="btn btn-default" id="btn-browse"> Browse CDs >> </a>
            </p>
        </div>
    }
    else
    {
        <div class="cont-main">

            <div class="catalog-products">
                @foreach (var favorite in Model.favorites)
                {
                    <div class="product">
                        <a asp-page="/ViewProduct" asp-route-id=@favorite.ProductID><img class="product-img" src="@favorite.CoverArt" /></a>
                        <div class="product-details">
                            <p class="product-price">Php @favorite.Price<span>.00</span></p>
                            <p class="product-album">@favorite.Album</p>
                            <p class="product-artist">@favorite.Artist</p>
                        </div>
                    </div>
                }
            </div>

        </div>
    }
</body>