@page
@model final_project.Pages.OrdersList
@{
    if(User.HasClaim("Admin", "true"))
    {
        ViewData["Title"] = "All Orders";

    } else {

        ViewData["Title"] = "My Orders";
    }
    
}

@if (Model.orders == null || Model.orders.Count == 0)
{
    <div class="my-5">
        <div class="my-4">
            <h6 class="text-center"> @Model.emptyOrder </h6>
        </div>

        <div class="d-flex flex-column align-items-center gap-4">

            <a asp-page="/VinylsCatalog">
                <button class="btn btn-outline-primary">
                    Browse vinyls >>
                </button>
            </a>

            <a asp-page="/CDsCatalog">
                <button class="btn btn-outline-primary">
                    Browse CDs >>
                </button>
            </a>

            <a asp-page="/CassettesCatalog">
                <button class="btn btn-outline-primary">
                    Browse cassettes >>
                </button>
            </a>

        </div>
    </div>

}
else
{

    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col" class="text-center" style="width:4%"></th>
                <th scope="col" class="text-center col-1"> Cover Art </th>
                <th scope="col" class="text-center col-1"> Product Item </th>
                <th scope="col" class="text-center col-1"> Artist Name </th>
                <th scope="col" class="text-center col-1"> Product Type </th>
                <th scope="col" class="text-center col-1"> Price </th>
                <th scope="col" class="text-center col-1"> Quantity </th>
                <th scope="col" class="text-center col-1"> Subtotal </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var orderItem in Model.orders)
            {

                <tr>
                    <td class="text-center align-middle">
                        <a asp-page="/OrdersList"
                           asp-page-handler="Delete"
                           asp-route-id=@orderItem.OrderID>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </a>
                    </td>

                    <td class="text-center align-middle">
                        <img src=@orderItem.CoverArt alt="cover art" width="100" />
                    </td>
                    <td class="text-center align-middle">
                        <h6>
                            <a asp-page="/ViewProduct"
                       asp-route-id=@orderItem.ProductID>
                                @orderItem.Album
                            </a>
                        </h6>
                    </td>
                    <td class="text-center align-middle"> @orderItem.Artist </td>
                    <td class="text-center align-middle"> @orderItem.Type </td>
                    <td class="text-center align-middle"> @orderItem.Price.ToString("#,##0.00") </td>
                    <td class="text-center align-middle">
                        <input type="number"
                           name="quantity"
                           value=@orderItem.Quantity
                           min="0"
                           class="col-4"
                           disabled />
                    </td>
                    <td class="text-center align-middle">
                        <h6 id="subtotal"> @orderItem.Subtotal.ToString("#,##0.00") </h6>
                    </td>
                </tr>

                Model.total += orderItem.Subtotal;

            }
            <tr class="bg-dark">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center align-middle text-white" id="test"></td>
                <td class="text-center align-middle text-white"> Total: </td>
                <td class="text-center align-middle text-white fw-bold" id="total"> PHP @Model.total.ToString("#,##0.00") </td>
            </tr>

        </tbody>
    </table>

    <button onclick="history.back()" class="btn btn-secondary"> Go back </button>


}
