@page
@model final_project.Pages.ViewProductModel
@{
    ViewData["Title"] = "View Product";
}

<h2> @ViewData["Title"] </h2>

<img src=@Model.product.CoverArt alt="cover art" width="350" />
<h4> @Model.product.Artist </h4>
<h4> @Model.product.Album </h4>
<h4> @Model.product.Format </h4>
<h4> @Model.product.Price </h4>
<h4> @Model.product.Description </h4>
<h4> @Model.product.Tracks </h4>
<h4> @Model.product.TracksTotal </h4>
<h4> @Model.product.Sides </h4>
<h4> @Model.product.ReleaseDate </h4>
<h4> @Model.product.Label </h4>
<h4> @Model.product.Genre </h4>


    <a asp-page="/Cart"
       asp-page-handler="Add"
       asp-route-id=@Model.product.ProductID>
        <button class="btn" title="Add to Cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
            </svg>
        </button>
    </a>

    <a asp-page="/Favorites"
       asp-page-handler="Add"
       asp-route-id=@Model.product.ProductID>
        <button class="btn" title="Add to Favorites">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
        </button>
    </a>

<button onclick="history.back()" class="btn btn-secondary"> Go back </button>